body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html {
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
  color: white;
  box-sizing: border-box;
}

/* =================================== */

.page-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid black;
  width: 100%;
  height: 100vh;
}

.page-background::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
}

/* ============================================= */

/* ================= HEADER ======================== */

.page-background .page-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 95%;
  height: 100vh;
  /* border: 2px solid red; */
  overflow: auto;
}

.page-content header {
  display: flex;
  z-index: 500;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px 0 20px;
  position: fixed;
  background: var(--bg-header);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  /* border: 2px solid white; */
  white-space: nowrap;
  border-bottom: 3px solid var(--bg-bottom-header);
}

.page-content header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid white; */
  min-width: 20%;
  height: 70px;
}

.page-content header nav a button {
  border-radius: 500px;
  width: 150px;
  height: 45px;
  background: transparent;
  border: 2px solid white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.page-content header nav a button:hover {
  background-color: rgba(66, 66, 66, 0.253);
}

/* ======================================================= */

/* ================== MAIN ============================= */

main {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

main .main__background-img {
  position: relative;
  /* border: 2px solid white; */
  min-height: 50%;
  width: 100%;
}

.main__background-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(
    to bottom,
    black 30%,
    black 20%,
    black 20%,
    black 20%,
    transparent 90%
  );
  background-image: url(../assets/slide.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
/*  */

main .main-content {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  /* border: 2px solid white; */
}
/* ========================================================== */

/* ======== FOOTER ======== */

main .footer-content {
  border: 2px solid var(--bg-bottom-header);
  border-bottom: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10%;
  background: var(--bg-footer);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 500;
}

/* ============================ */
