@media only screen and (max-width: 600px) {
  .main__background-img::before {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-image: url(../assets/WhatsApp\ Image\ 2025-04-08\ at\ 4.47.24\ PM.jpeg);
  }

  .page-background .page-content {
    width: 98%;
  }

  main {
    margin-top: 70px;
  }

  .main-content .player {
    /*  padding: 0 20px 0 20px; */
  }

  .page-content header nav a button {
    border-radius: 500px;
    width: 140px;
    height: 40px;
    margin-right: 20px;
    background: transparent;
    border: 2px solid white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  header a img {
    /* width: 200px;
    height: 100px; */
    height: 50px;
  }

  .player iframe {
    border-radius: 25px;
  }

  /*  */

  .main__audio-player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 30px 16px 10px;
    gap: 20px;
  }

  .main__audio-player a button {
    display: none;
  }

  .main-content__section1 {
    flex-direction: column;
  }

  #height_main1 {
    height: 400px;
  }

  .main-content__section1 .player {
    padding: 20px 8px 20px 8px;
  }

  .main-content__section1 .container-eventos {
    padding: 20px 8px;
  }
}
