.ads {
  padding-top: 30px;
}

.ads-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}

.ads-content span {
  text-transform: uppercase;
}

.ads-content__content {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 1px solid white;
  overflow: hidden;
  margin: 0 10px;
  border-radius: 5px;
}

.img-ads {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.img-ads::-webkit-scrollbar {
  display: none;
}

.img-ads__item {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img-ads__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrows {
  pointer-events: none;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.arrows .fa-solid {
  pointer-events: auto;
  background: #141414;
  padding: 12px;
  border: 1px solid white;
  border-radius: 50%;
}

.arrows span:hover {
  cursor: pointer;
}
