.main-eventos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  /* border: 2px solid white; */
  margin-top: 75px;
  padding: 40px 0 0 0;
}

.main-eventos .main-eventos__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: auto;
  background: #1b1b1b;
  padding: 10px 20px;
  box-shadow: 0 0 20px 0 black;
  margin-bottom: 50px;
}

.main-eventos__content .eventos_txt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  text-transform: uppercase;
}

.eventos_txt span {
  font-size: 25px;
}

/* =============== */

/* ======== IMAGENS ========*/

.post {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 15px;
  width: 80%;
  height: auto;
  background-color: #2a2a2ade;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 20px;
  /* border: 2px solid white; */
}

.container-eventos__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post img {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

.post .div-txt {
  width: 100%;
  margin-top: 20px;
  padding: 0;
  text-align: justify;
  /*  border: 2px solid white; */
}

.post .div-txt h2 {
  display: inline;
  line-height: 45px;
  border-radius: 50px;
  box-decoration-break: clone;
  padding: 3px 12px;
  background: #383838;
}

.div-txt p {
  line-height: 20px;
  border-radius: 3px;
  text-align: justify;
  box-decoration-break: clone;
  font-size: 17px;
  background-color: #383838;
  padding: 3px 8px;
}

.div-txt a {
  text-decoration: underline;
  line-height: 20px;
  border-radius: 3px;
  text-align: justify;
  box-decoration-break: clone;
  font-size: 17px;
  background-color: #383838;
  padding: 3px 8px;
}
