header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding: 5px 20px;
  background: var(--bg-header);
  border-bottom: 3px solid var(--bg-bottom-header);
  z-index: 800;
}

header img {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

header nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: color 0.5s ease;
}

header nav a span {
  transition: color 0.5s ease;
}

header nav a:hover,
header nav a:hover span {
  color: var(--bg-bottom-header);
}
