/* ==== CONTEÚDO ==== */
.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* ======================= */

/* ===== MAIN ===== */

main {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100%;

  padding: 10px 0;
}

.main__palavra-do-dia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  flex-wrap: wrap;
  overflow: hidden;
}

.palavra,
.pedido {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: auto;
  /* border: 0.8px solid white; */
}

.pedido {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 100px;
}

.pedido a,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: transparent;
  padding: 4px;
  font-weight: 700;
}

.pedido a {
  border: 1px solid rgba(255, 255, 255, 0.372);
  border-radius: 13px;
}

.pedido button {
  border: 1px solid rgba(255, 255, 255, 0.541);
  padding: 10px 30px;
}

.pedido button {
  color: rgba(255, 255, 255, 0.788);
}

.palavra {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  width: 450px;
  opacity: 0.8;
}

.palavra::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: transparent;
  box-shadow: inset 0 0px 20px rgb(0, 0, 0), inset 0 0px 20px rgba(0, 0, 0, 0.6),
    inset 0px 0 20px rgba(0, 0, 0, 0.05), inset 0px 0 20px rgba(0, 0, 0, 0.4);
}

/* =========================== */
