picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-slider {
  width: 100%;
  height: auto;
  margin-top: 76px;
  mask-image: linear-gradient(
    to bottom,
    black 30%,
    black 20%,
    black 20%,
    black 20%,
    transparent 90%
  );
  /* border: 2px solid white; */
}
