/* ==== MAIN SETTINGS ==== */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg-color);
}

html {
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
  color: white;
  box-sizing: border-box;
}
/* ========================= */

/* ============= PAGE BACKGROUND ============= */

/* ============================== */
