/* ==== MAIN SETTINGS ==== */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg-color);
}

html {
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
  color: white;
  box-sizing: border-box;
}
/* ========================= */

/* ============= PAGE BACKGROUND ============= */

.page-background {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  background-color: var(--bg-color);
}

.page-background .page-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  overflow: hidden;
  width: 100%;
  height: 50%;
  /*   border: 2px solid white; */
}

.page-slider::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(
    to bottom,
    black 30%,
    black 20%,
    black 20%,
    black 20%,
    transparent 90%
  );
  background-image: url("../assets/slide.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}

/* ============================== */
