.videos-content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 90%;
  height: 100%;
  background: #1b1b1b;
  overflow: hidden;
  box-shadow: 0 0 20px 0 black;
  margin-bottom: 20px;
}
.videos_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 28px 0;
  gap: 20px;
}

.videos-content span {
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 35px 20px 28px 40px;
  font-size: 25px;
  border-bottom: 1px solid gray;
}

#videos__content {
  justify-content: center;
  flex-basis: 400px;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid white;
}

/* ================================= */
